<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudOperation.Properties.Settings.balu_CompanyDBConnectionString"
            connectionString="Data Source=DESKTOP-EVBLF3O\SQLEXPRESS;Initial Catalog=balu.CompanyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>